.empty10{margin-top: 10px;}
.empty20{margin-top: 20px;}
.empty30{margin-top: 30px;}
.empty40{margin-top: 40px;}

.empty_left5{margin-left: 5px!important;}
.empty_left10{margin-left: 10px!important;}
.empty_left15{margin-left: 15px!important;}
.empty_left20{margin-left: 20px!important;}
.empty_left25{margin-left: 25px!important;}

.p-toast.p-toast-topright {
    z-index: 1000;
    top: 70px;
}
.layout-main {
    padding: 66px 16px 16px 16px;
    min-height: 930px;
}
.align-center{
    text-align: center;
}

